.cabecalho {
    display: flex;
    padding: 2rem 0;
    align-items: center;
}

.cabecalho__imagem {
    width: 7rem;
    height: 7rem;
    border-radius: 57px;
    margin-right: 2rem;
}

.cabecalho__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecalho__container__titulo {
    color: var(--cinza-escuro);
    font-size: 2.2rem;
    font-weight: 700;
}

.cabecalho__container__texto {
    color: var(--cinza-claro);
    font-size: 1.4rem;
    font-weight: 400;
}

@media screen and (min-width: 820px) {
    .cabecalho__container__titulo {
        font-size: 3.5rem;
    }

    .cabecalho__container__texto {
        font-size: 2rem;
    }
}